.content{
    display: flex;

}


.blackjack-game{

margin: 20px;
background: linear-gradient(180deg, rgb(158, 242, 173) 0%, rgb(6, 164, 51) 53%, rgb(7, 98, 24) 100%);
border: 2px solid black;
box-shadow: 0.4vh 0.6vh rgba(0, 0, 0, 0.6);
width: 500px;
height: 500px;
padding: 16px;
display: flex;
flex-direction: column;
gap: 3px;

}

.card{
display: flex;
flex-direction: column;
width: 110px;
height: 150px;
background-color: rgb(230, 230, 230);
border: 2px solid black;
border-radius: 7px;
justify-content: space-between;
box-shadow: 2px 3px rgba(0, 0, 0, 0.5);;

}

.card p {
margin: 0;
padding: 0;

}

.table{

    display: flex;
    gap : 10px;

}

.newCards{
    display: flex;
    flex-wrap: wrap;
    gap : 10px;
    margin-top: 10px;
}